@import '../../stylesheets/helpers.scss';

.ContactSection {
  @include flex-direction(column);

  @media (min-width: 45em) {
    @include vhc;
  }

  position: relative;
  min-height: 100vh;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }

  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    height: em(240);
    background: -moz-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
  }

  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: em(120);
    background: -moz-linear-gradient(
      bottom,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: -webkit-linear-gradient(
      bottom,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: linear-gradient(
      to top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
  }

  &__inner {
    position: relative;
    text-align: center;
    top: 20vw;

    @media (min-width: 45em) {
      top: -5vw;
    }
  }

  &__title {
    $fs: 64;
    @include serif;

    font-size: 9vw;

    @media (min-width: 40em) {
      font-size: em($fs);
    }

    margin: 0 0 em(30, $fs);
    line-height: (56 / $fs);
  }

  &__description {
    $fs: 28;
    @include serif;

    font-size: 4vw;

    @media (min-width: 40em) {
      font-size: em($fs);
    }

    margin: 0 0 em(60, $fs);
    line-height: 1;
  }
}
