@import '../../stylesheets/helpers.scss';

.ShopifyPlusExpertsPanel {
  @include vhc;
  @include flex-direction(column);
  min-height: 100vh;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }

  &__logo {
    max-width: em(300);
    margin: 0 auto;
  }
}
