@import '../../stylesheets/helpers.scss';

.ClientShowcase {
  @include flexbox;
  padding-top: em(160);
  padding-bottom: em(160);

  &--left &__content {
    @include order(1);
    padding-right: em(80);
  }
  &--left &__screenshot {
    @include order(2);
  }

  &--right &__content {
    @include order(2);
    padding-left: em(80);
  }
  &--right &__screenshot {
    @include order(1);
  }

  &__content {
    @include flex(1);
    @include flexbox;
    @include flex-direction(column);
  }

  &__screenshot {
    @include flex(1);
  }

  &__productImg {
    margin-top: auto;
    margin-bottom: em(60);
  }

  &__title {
    @include serif;
    $fs: 56;
    margin: 0;
    font-size: em($fs);
    line-height: 74 / $fs;
  }

  &__description {
    $fs: 16;
    margin-bottom: 0;
    font-size: em($fs);
    line-height: 32 / $fs;
  }

  &__actions {
    @include flexbox;
    margin-top: em(60);
  }

  &__projectUrl {
    margin-right: em(60);
  }

  &__builtOn {
    max-width: em(150);
  }
}
