@import '../../stylesheets/helpers.scss';

.TestimonialsSection {
  position: relative;
  padding-top: em(120);

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -30vh;
    height: 150vh;
    background: {
      image: url(../../images/starry-bg-4.jpg);
      size: cover;
      position: center top;
      repeat: no-repeat;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: em(240);
    background-color: red;
    z-index: -1;
    background: -moz-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
  }

  &__viewAllBtn {
    $fs: 25;
    @include serif;
    outline: 0;
    border: none;
    display: block;
    width: 100%;
    font-size: em($fs);
    height: em(80, $fs);
    text-align: center;
    border-bottom: 1px solid $primary;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      &:hover {
        background-color: darken($primary, 45);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);
      }
    }
  }
}
