@import 'helpers';
@import '../fonts/styles.css';
@import 'base/index';

// this is for decoration

.starsBg {
  position: relative;

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -80vh;
    height: 200vh;
    background: {
      image: url(../images/starry-bg-3.jpg);
      size: cover;
      position: center top;
      repeat: no-repeat;
    }
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: em(240);
    margin-top: -80vh;
    background: -moz-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(21, 21, 21, 1) 0%,
      rgba(21, 21, 21, 0) 100%
    );
  }
}
