@import 'helpers';
@import '../fonts/styles.css';
@import 'base/index';

.section {
  &--fullHeight {
    min-height: 100vh;
  }

  &--padded {
    padding-top: em(60);
    padding-bottom: em(60);
  }

  &--one {
    // @include vhc;
    @include flex-direction(column);
    background: {
      image: url(../images/starry-bg.jpg);
      size: cover;
      position: center center;
      repeat: no-repeat;
      color: #223549;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: em(240);
      background: -moz-linear-gradient(
        top,
        rgba(21, 21, 21, 1) 0%,
        rgba(21, 21, 21, 0) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(21, 21, 21, 1) 0%,
        rgba(21, 21, 21, 0) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(21, 21, 21, 1) 0%,
        rgba(21, 21, 21, 0) 100%
      );
    }
  }

  // &--starry {
  //   // @include vhc;
  //   @include flex-direction(column);
  //   background: {
  //     image: url(../images/starry-bg-2.jpg);
  //     size: cover;
  //     position: center 200px;
  //     repeat: no-repeat;
  //     color: #223549;
  //   }
  // }
}

.brand-statement {
  position: relative;
  padding-top: em(50);
}

.hero {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.container {
  @include module;
  margin: 0 auto;
  max-width: em(1200);
  padding-left: em(30);
  padding-right: em(30);
}

.rooster-logo {
  @include vhc;
  padding-top: em(20);
  padding-bottom: em(20);
}

.lettering {
  @include flexbox;
  @include flex-direction(column);
  text-align: center;

  &__lineOne {
    @include order(1);
  }
  &__lineTwo {
    @include order(2);
  }
  &__lineThree {
    @include order(3);
  }

  &__big {
    @include serif;
    margin: 0;
    padding-top: 21px; // account for fancy borders
    padding-bottom: 21px; // account for fancy borders
    font-size: em(68);
    line-height: 1.08825;
    letter-spacing: 0.75px;

    span {
      display: inline-block;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 24px;
        right: 24px;
        height: 1px;
        background-color: $primary;
      }

      &:before {
        top: -20px;
      }

      &:after {
        bottom: -20px;
      }
    }
  }

  &__small {
    $fs: 18;
    @include serif;
    padding-top: em(20, $fs);
    padding-bottom: em(20, $fs);
    font-size: em($fs);
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.intro {
  @include serif;
  font-size: em(32);
  line-height: 1.5625;
  text-align: center;
}

.h2 {
  @include vhc;
  @include sans-serif-bold;
  $fs: 16;
  position: relative;
  margin: em(120, $fs) 0;
  font-size: em($fs);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: $primary;
  min-height: em(200, $fs);

  span {
    position: relative;
    padding-top: em(20, $fs);
    padding-bottom: em(20, $fs);
    background-color: $black;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    margin-left: -1px; // should be half of width but that would be .5px
    background-color: $white;
  }
}

.grid {
  @media (min-width: 50em) {
    @include flexbox;
  }

  &--5-col &__item {
    @media (min-width: 50em) {
      @include flex(1);
    }
  }
}

.ScopedGood {
  @include vhc;
  @include flex-direction(column);
  height: em(200);
  text-align: center;

  &__image {
    width: em(80);
    height: em(80);
    max-height: 100%;
    margin-bottom: em(40);
    background: {
      size: contain;
      position: center center;
      repeat: no-repeat;
    }
  }

  &__title {
    margin: 0;
    font-size: em(14);
    line-height: 1.428571428571429; // 20px == 20 / 14
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: $primary;
  }
}

.btn {
  $fs: 14;
  @include sans-serif;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: em(15, $fs) em(40, $fs);
  font-size: em($fs);
  font-weight: 700;
  line-height: 1;
  color: $white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 1px solid $primary;
  transition: 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover {
    transform: scale(1.025);
    background-color: darken($primary, 45);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
