@import '../../stylesheets/helpers.scss';

$gray: #595959 !default;

.Footer {
  @include vhc;
  @include flex-direction(column);
  box-sizing: content-box;
  padding: em(60) 0;
  text-align: center;

  &__copy {
    color: $gray;
    font-size: em(12);
  }
}
